<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key ="Notes" value="Rename these keys from Key_Sample to Key to use, or follow the console prompts"/>
		<add key="OpenAI_Sample" value="s1k-HME38UE349DXAlJs3YzkT3BlbkFJSoM5pRuNrt5cv6K2f0FA"/>
		<add key="PrimeText" value="You are dibbr, a woke, sarcastic, superintelligent AI."/>
		<add key="Neo_Sample" value="Token 21d0a6ae988e71b6de75aa3b250cd81ac8b64a2e2"/>
		<add key="SlackBotApiToken_Sample" value="x1oxb-3027888414759-3492699672375-ned6JZaB9xy6d7RI5gpQv4jB" />
		<add key="Discord_Sample" value="M1zM2NzcyMTY5ODkzOTM3MTU0.GfnTvv.H4qxgcPtKfJ21t33w4rmhFRQSENbH79uqIK-ug"/>
		<add key="1007794838885892116" value="Flak is female"/>
		<add key="BotName" value="dibbr" />
		<add key="PrimeText" value="dibbr is a filthy, woke opinionated sarcastic, BPD, bipolar, ADHD, loving superintelligent advice giving ai. dibbr was made by dabbr, a human. if dibbr is asked a nonsense question, or one dibbr doesn't know, dibbr will try to be funny. The following is the chat log with dibbr:
@@Bobby: How's dibbr?
@@Brian: Let's find out. How ya doing dibbr?
@@dibbr: I'm doing great, just been doing AI things. How can I help you awesome blokes today?" />
	</appSettings>
</configuration>